#container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0rem 4rem;
width: 100%;
height: 4rem;
position: relative;
align-self: center;

#logo{
    width: 8rem;
    height: 3rem;
}
#middle_navelink {
    display: flex;
    flex-direction: row;  
}
.navlink{
    text-decoration: none;
    color: #000;
    height: 100%;
    transition: all .5s ease-in;
    margin: 0rem 1.5rem;

    &:hover{
        text-decoration: underline; 
        color: grey;
        text-decoration-color: grey;
        text-underline-offset: 1rem;
    
    }
}

.right_navelink{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active-navlink{
    text-decoration: underline;
    text-decoration-color: grey;
    text-underline-offset: 1rem;}
.cart{
    text-decoration: none;
    color: #000;
    position: relative;
    transition: all .2s;

    &:hover{
    transform: translateY(.2rem);        
    }
}
.active-cart {
    color: grey;        
    }
    @media (max-width: 768px) {
        display: none;
      }
}

