#cart_main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#cart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cart_shoe_image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 160px;
  height: 160px;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  #cart_shoe_image {
    margin-right: .5rem;
  }
}

@media (max-width: 400px) {
  #cart_shoe_image {
    width: 140px;
    height: 160px;
  }
}

#cart_shoe_info_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
}

@media (max-width: 1024px) {
  #cart_shoe_info_cnt {
    min-width: none;
    width: 85vw;
  }
}

@media (max-width: 600px) {
  #cart_shoe_info_cnt {
    min-width: none;
    width: 95vw;
    margin: 0rem 0rem;
  }
}

#cart_shoe_info_cnt #cart_shoe_info {
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 500px) {
  #cart_shoe_info_cnt #cart_shoe_info {
    min-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  #cart_shoe_info_cnt #cart_shoe_info {
    min-width: 40vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 2rem;
  }
}

#cart_shoe_info_cnt #cart_shoe_info #card_shoe_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cart_shoe_info_cnt #cart_shoe_info #brand_name {
  position: relative;
  min-height: 1px;
  font-size: 1.2rem !important;
  font-weight: 600;
  word-break: break-all;
  margin-bottom: .2rem;
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_Size {
  margin-right: 2rem;
}

#cart_shoe_info_cnt #cart_shoe_info .info_margin {
  margin: .2rem;
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_title {
  position: relative;
  min-height: 1px;
  font-size: 1.2rem !important;
  font-weight: 400;
  word-break: break-all;
  margin-bottom: .2rem;
}

@media (min-width: 1025px) {
  #cart_shoe_info_cnt #cart_shoe_info #shoe_title {
    word-break: normal;
    max-width: 300px;
  }
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_gender_type {
  font-size: 1rem;
  font-weight: 400;
  word-break: break-all;
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 500px) {
  #cart_shoe_info_cnt #cart_shoe_info #shoe_price {
    margin-left: auto;
    text-align: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_price #delete_item_icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#cart_shoe_info_cnt #cart_shoe_info #shoe_price #shoe_price_text {
  font-size: 1.4rem;
  font-weight: 400;
}

#summary_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
}

@media (max-width: 1024px) {
  #summary_details {
    min-width: 0;
    width: 85vw;
    margin: 2rem;
  }
}

@media (max-width: 600px) {
  #summary_details {
    min-width: none;
    width: 95vw;
  }
}

#summary_details .flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#summary_details .spacing {
  margin: .8rem 0;
}

#summary_details .cart_text {
  position: relative;
  min-height: 1px;
  font-size: 1.2rem !important;
  line-height: 1.75;
  font-weight: 400;
  word-break: break-all;
}

#summary_details .bottom_border {
  border-bottom: .1rem solid grey;
}

#summary_details .total_cart_value {
  padding: .5rem 0;
}

#summary_details #summury_header {
  font-size: 1.8rem !important;
  line-height: 1.75;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */