.carousel-img {
    /* width: 100vw; */
    height: 600px;
    flex-basis: 33.33%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    cursor: pointer;
  }

  @media screen and (max-width: 1010px) {
    .carousel-img {
      height: 400px !important;
    }

  }

  @media screen and (max-width: 500px) {
    .carousel-img {
      height: 400px !important;
    }
}