@import "../../sass/colors";

#overlay{

    background-color: rgba($color: $black, $alpha: 0.3);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: 25;

    #auth_container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: $white;
        width: 30rem;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        z-index: 27;
        text-align: center;

        @media (max-width: 609px) {
            width: 90vw; 
        }

        #close_icon{
            margin: 1rem 2rem 0 auto;
            position: relative;
            
        }

        #header{
            font-size: 1.4rem;
            margin: .5rem 0rem;   
            padding:0 1rem;
        }

        #message {
            margin:0 1.5rem 1.5rem 1.5rem;
            font-size: 1rem;
            color: $grey;
        }
        #button_container{
            margin-bottom: 1.5rem;

            display: flex;
            flex-direction: row;
            flex-basis: "45%";
            justify-content: center;

            #cancle{
                background-color: transparent;
                color: $black;
                letter-spacing: .1rem;
            }
            #confirm{
                background-color: transparent;
                color: $white;
                letter-spacing: .1rem;
                background-color: $black; 
            }
            #confirm:hover , #cancle:hover {
                color: $grey;
            }

        }
    }
}