$white: #ffffff;
$black: #000000;
$error: #cc0000; // text error
$link: #0588BC ; // text link
$overlay: rgba(68, 67, 67, 0.5); // loader overlay
$grey: #808080; // text over
$blackShadow: rgba(0, 0, 0, 0.235);

$blue300: #006ee5;

