$white: #ffffff;
$black: rgba(0,0,0,0.8);;
$error: #cc0000; // text error
$link: #0588BC ; // text link
$overlay: rgba(68, 67, 67, 0.5); // loader overlay
$grey: #808080; // text over
$light_grey: #e5e5e5;
$blackShadow: rgba(0, 0, 0, 0.235);
$text_grey : #757575;
$blue300: #006ee5;
$grey_500: #00000080;
$mid_grey:#f7f7f7

