@import "../../../sass/common";
@import "../../../sass/colors";

#mob-container {
    display: none;
        @media (max-width: 768px) {
            @include hSpaceBetweenVcenter();
            padding: 0rem 1rem;
            width: 100%;
            height: 4rem;
            position: relative;
            
            #logo{
                width: 6rem;
                height: 2rem;
            }

            .navlink{
                text-decoration: none;
                color: $black;
                height: 100%;
                transition: all .5s ease-in;
            
                &:hover{
                    text-decoration: underline; 
                    color: $grey;
                    text-decoration-color:$grey;
                    text-underline-offset: 1rem;
                }
            }
            .active{
                text-decoration: underline;
                text-decoration-color: $grey;
                text-underline-offset: 1rem;}
            .cart{
                position: relative;
                align-self: center;
                text-decoration: none;
                color: $black;
            }
            #cart-value{
                display: flex;
                @include absolouteCenter();
            }
            .active-cart {
                color: $grey;        
                }

            .container { 
                display: flex; 
                position: relative;
                align-items: center }
          }
          .zIndex {
            z-index: 40;
          }
 
          .navlink.rotate {
            transform: rotate(90deg);
          }

          .menu{
            margin-left: 1rem;
          }
    }
    
    