@import "../../../sass/colors";

#wrapper{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 1rem ;

    #image {
        width: 600px;
        height: 500px;

        @media (max-width: 667px) {
            width: 80vw;
            height: 60vw;   
        }
    }
    #product-info-wrapper {
        flex:1;
        min-width: 300px;
        max-width: 500px;
        margin-left: 20px;
        margin-top: 2.5rem;
  
        @media (max-width: 667px) {
            min-width: 200px;
            width: 90vw;
            margin-left: 0px;

        }
        .short-product-details {
            display: flex;
            flex-direction: column;
        }
        .brand-name{
            font-weight: 500;
            font-size: 1.6rem;
        }
        .product-name{
            font-weight: 400;
            font-size: 1.4rem;
        }
        .grey_text{
            font-size: 1rem;
            font-weight: 400;
            color: $text_grey;
        }
        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #error_text{
            color: $error;
            align-self: center;
        }
        .price{
            margin: .5rem 0;
            font-weight: 200;
        }
        .product-color {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        .select{
            margin-top: .5rem;
        }
        #add_to_cart_button{
            background-color: $black;
            width: "100%";
        }
    }

}